<%- include('includes/head.ejs') %>
<body>
  <header>
    <div class="text-center mb-3">
      <img src="https://www.nasa.gov/sites/default/files/thumbnails/image/nasa-logo-web-rgb.png"
           class="nasa-icon mx-auto d-block"
           alt="nasa image">
     <h1 class="display-5">Please sign in</h1>
      <% if (newRegistered) { %>
        <div class="passwords-error-message text-danger fs-6"> <%= newRegistered %>!  </div>
      <% } %>
    </div>
  </header>
  <main>
    <div class="container form-container text-center mb-5">
      <form action="/api" method="post">
        <div class="row mb-3 d-flex justify-content-center">
          <label for="email-user" class="form-label">Email address</label>
          <div class="col-md-5 text center">
            <input name="email" type="email" class="form-control" id="email-user" autocomplete="username" aria-describedby="emailHelp" required>
          </div>
        </div>
        <div class="row mb-3 d-flex justify-content-center">
          <div class="col-md-5">
            <label for="password-user" class="form-label">Password</label>
            <input name="password" type="password" class="form-control col-sm-3" id="password-user" autocomplete="current-password" required>
          </div>
        </div>
        <div class="d-grid col-md-5 mx-auto">
          <button type="submit" class="btn btn-primary">sign in</button>
        </div>
      </form>

      <div class="mt-3"> need to <a href='/register' id="registerLink">register</a>?</div>
    </div>

  </main>
  <footer>
    <div class="text-center p-4 fixed-bottom copyright">
      © 2023 Copyright: NM
    </div>
  </footer>
<%- include('includes/end.ejs') %>