<%- include('includes/head.ejs') %>
<body>
<header>
    <div class="text-center mb-4">
        <img src="https://www.nasa.gov/sites/default/files/thumbnails/image/nasa-logo-web-rgb.png"
             class="nasa-icon mx-auto d-block h-25"
             alt="nasa image">
        <h1 class="display-5">Please register</h1>
        <div class="fs-3">register</div>
        <% if (error) { %>
            <div class="passwords-error-message text-danger mb-3 fs-6"> <%= error %>! <br> please try again </div>
        <% } %>
    </div>
</header>
<main>
    <div class="container form-container text-center">
        <form action="/register-passwords" method="post">
            <div class="row mb-3 d-flex justify-content-center">
                <label for="userEmail" class="form-label">Email address</label>
                <div class="col-md-5 text center">
                    <input type="email" class="form-control" id="userEmail" name="email" aria-describedby="emailHelp" required>
                </div>
            </div>
            <div class="row mb-3 d-flex justify-content-center">
                <div class="col-md-5">
                    <label for="userFirstName" class="form-label">First name</label>
                    <input type="text" class="form-control col-sm-3" id="userFirstName" pattern="[a-zA-Z]{3,32}"
                           name="firstName" title="Only letters are allowed, max 32, min 3."required
                    oninvalid="this.set">
                </div>
            </div>
            <div class="row mb-3 d-flex justify-content-center">
                <div class="col-md-5">
                    <label for="userLastName" class="form-label">Last name</label>
                    <input type="text" class="form-control col-sm-3" id="userLastName" pattern="[a-zA-Z]{3,32}"
                           name="lastName" title="Only letters are allowed, max 32, min 3." required>
                </div>
            </div>
            <div class="d-grid col-md-5 mx-auto">
                <button type="submit" class="btn btn-primary">Next</button>
            </div>
        </form>
        <div class="mt-3"> already registered? go to <a href="/" id="signInLink">login</a> page</div>
    </div>
</main>
<footer></footer>
<%- include('includes/end.ejs') %>