.nasa-icon {
    width: 400px;
    height: 250px;
}

.copyright{
    background-color: rgba(224, 219, 219, 0.44);
}

body {
    background-image: url("../images/dark-mode.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    height: 100%;

}


.card-img-header {
    height: 20vh;
    overflow: hidden;
    word-wrap: break-word;
    overflow-y: scroll;
}

.card-img-body {
    height: 40vh;
    overflow: hidden;
    word-wrap: break-word;
    overflow-y: scroll;
}

.card-img-footer {
    height: 20vh;
    overflow:auto;
}
.card-grid {
    background-color: rgba(182, 236, 241, 0.68) !important;
}

.textImg {
    background-color: rgba(194, 130, 194, 0.5) !important;
}

.col-img {
    object-fit: cover;
}

.deleteComment {
    height: 30px;
    width: 30px;
}
